.chapter3{
    .base{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .adaptive-ellipse{
        .circle{
            background: #2b3;
            width: 300px;
            height: 300px;
            border-radius: 50%
        }
        .ellipse{
            background: #fb3;
            width: 300px;
            height: 200px;
            border-radius: 50%
        }
        .half-ellipse{
            background: #f13;
            width: 300px;
            height: 200px;
            border-radius: 50%  e('/') 100% 100% 0 0;
        }
        .quarter-ellipse{
            background: #f13;
            width: 300px;
            height: 200px;
            border-radius: 100% 0 0 0;
        }
    }
    .parallelogram{
        .parallelogram-1{
            position:relative;
            color: white;
            height: 100px;
            width: 200px;
            &::before{
                content: '';
                position: absolute;
                top: 0;right: 0;bottom: 0;left: 0;
                z-index: -1;
                background: repeating-linear-gradient(30deg, rgba(241,142,25,0.8) 0,rgba(241,142,25,0.8) 15px,rgba(241,142,25,0.5) 0,rgba(241,142,25,0.5) 30px);
                transform: skew(30deg);
            }
        }
    }
    .diamond{
        .diamond-1 > img{
            width: 300px;
            clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
        }
        .circle-1 > img {
            width: 300px;
            clip-path:circle(30% at 50% 50%)
        }
    }

    @angleColor:#fb3;
    .angle{
        div{
            height: 100px;
            width: 200px;
        }
        .one{
            background: #58a;
            background: linear-gradient(-135deg,transparent 15px,#58a 0);
        }
        .four{
            background: @angleColor;
            background: linear-gradient(135deg, transparent 15px, @angleColor 0) top left, linear-gradient(-135deg, transparent 15px, @angleColor 0) top right, linear-gradient(-45deg, transparent 15px, @angleColor 0) bottom right, linear-gradient(45deg, transparent 15px, @angleColor 0) bottom left;
            background-size: 50% 50%;
            background-repeat: no-repeat;
        }
        .four-mixin{
            #beveled-corners(@angleColor,20px,10px);
        }
    }
}

// less的mixin写法
#beveled-corners(@bg,@tl:0,@tr:@tl,@br:@tl,@bl:@tr){
    background: @bg;
    background: linear-gradient(135deg, transparent @tl, @bg 0) top left, linear-gradient(-135deg, transparent @tr, @bg 0) top right, linear-gradient(-45deg, transparent @br, @bg 0) bottom right, linear-gradient(45deg, transparent @bl, @bg 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}